Source: drkonqi
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               dbus-x11,
               debhelper (>= 9),
               extra-cmake-modules (>= 5.18.0~),
               libkf5completion-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5crash-dev,
               libkf5i18n-dev,
               libkf5idletime-dev,
               libkf5jobwidgets-dev,
               libkf5kio-dev,
               libkf5notifications-dev,
               libkf5service-dev,
               libkf5wallet-dev,
               libkf5widgetsaddons-dev,
               libkf5xmlrpcclient-dev,
               libqt5x11extras5-dev,
               pkg-kde-tools (>= 0.15.18~),
               qtbase5-dev (>= 5.4)
Standards-Version: 4.1.2
Homepage: https://cgit.kde.org/drkonqi.git/
Vcs-Browser: http://anonscm.debian.org/git/pkg-kde/plasma/drkonqi.git
Vcs-Git: git://anonscm.debian.org/git/pkg-kde/plasma/drkonqi.git

Package: drkonqi
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Crash handler for Qt applications
 Drkonqi shows a dialog for dealing with application crashes.
